button {
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  color: white;
}

button:disabled {
  cursor: default;
  background-color: transparent;
  color: #5f5c5c;
}

.selected {
  position: relative;
}

.selected:before {
  content: "";
  position: absolute;
  width: 87%;
  bottom: 0;
  height: 3px;
  background-color: blueviolet;
  display: block;
}

.send {
  border-radius: 0 10px 10px 0;
  background-color: blueviolet;
  color: whitesmoke;
}