.requestBar{
  width: 25%;
  padding: .5%;
  font-size: 20px;
}
.headerField{
  width: 96%;
  border: 0;
  padding: 2%;
  font-size: 20px;
}
input{
  outline: none;
  background-color: #242727;
  border: 1px solid #323636;
  color: floralwhite;
}