.responseBody {
    width: 100%;
    height: 300px;
    resize: none;
    margin-top: 5px;
}
.pretty {
    display: flex;
    justify-content: flex-end;
}
.response-body__syntax-highlighter {
    height: 30em;
}
