.deleteTd{
  width: 1%;
  cursor: pointer;
}
.headerTd{
  padding: 0;
  position: relative;
}
.errorIcon{
  position: absolute;
  z-index: 5;
  top: 5%;
  right: .5%;
}

.errorIcon:hover::before{
  display: flex;
  z-index: 7;
  top:-150%;
  left: -50%;
  position: absolute;
  content: "Invalid Syntax";
  background-color: white;
  border: .5px solid black;
  border-radius: 5%;
}
