@use "../../constants/colors";

.delete-td {
    width: 1%;
    cursor: pointer;
}

.headers-table__td {
    padding: 0;
    position: relative;
}

.headers-table__text-field {
    width: 96%;
    border: 0;
    padding: 2%;
    font-size: 20px;
}

.error-icon {
    color: colors.$warning-coral;
    position: absolute;
    top: 5%;
    right: 0.5%;
}

.error-icon_key:hover::before {
    display: block;
    z-index: 10;
    top: 90%;
    left: 50%;
    transform: translate(-50%);
    text-align: justify;
    width: 250px;
    position: absolute;
    content: "Key contains invalid characters, it may contains: A-Z, 1-9 and '/' characters";
    background-color: colors.$grey;
    border: 1px solid colors.$warning-coral;
    color: colors.$white;
    border-radius: 5%;
    padding: 5px 10px;
}

.error-icon_value:hover::before {
    display: block;
    z-index: 10;
    top: 90%;
    left: 50%;
    transform: translate(-50%);
    text-align: justify;
    width: 250px;
    position: absolute;
    content: "Value contains non-ISO-8859-1 characters, it may contains: A-Z, 1-9 and space characters";
    background-color: colors.$grey;
    border: 1px solid colors.$warning-coral;
    color: colors.$white;
    border-radius: 5%;
    padding: 5px 10px;
}
